<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <target xsi:type="ColoredConsole" name="consoleTarget" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffzz00}|${level:uppercase=true}|${message}|${exception}" />

    <target xsi:type="Debugger" name="debuglog" layout="${logger}|${level}|${aspnet-user-identity}|${message}" />
    
    <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
      <instrumentationKey>591ab718-5d00-46f0-b675-7914ff41e4e7</instrumentationKey>
      <contextproperty name="threadid" layout="${threadid}" />
    </target>

	<target xsi:type="Trace" name="trace" layout="${message}" />
	  
  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->

    <!-- BlackHole without writeTo -->

    <!--
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />

    <logger name="*" minlevel="Info" writeTo="aiTarget"/>

    <logger name="*" minlevel="Info" writeTo="debuglog" />
	  
	<logger name="*" minlevel="Info" writeTo="trace" />
  </rules>
</nlog>
