<div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <form name="changePasswordForm" [formGroup]="changePasswordFormGroup" method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
                <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Change Password</h3>
                    <p class="mt-1 text-sm text-gray-500">Update your current password.</p>
                </div>

                <div class="grid grid-cols-3 gap-6">

                    <div class="col-span-6">
                        <label for="oldPassword" class="block text-sm font-medium text-gray-700">Enter old password</label>

                        <div class="mt-1 border-b border-gray-300 focus-within:border-indigo-600 grid grid-flow-col">
                            <div>
                                <input type="text" formControlName="oldPassword" name="oldPassword" id="oldPassword" aria-describedby="oldPassword-error" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div class="absolute right-0 pr-6 py-2" *ngIf="changePasswordFormGroup.get('oldPassword').touched && changePasswordFormGroup.get('oldPassword').hasError('required')">
                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_solid:exclamation-circle'"></mat-icon>
                            </div>
                        </div>

                        <p class="mt-2 text-sm text-red-600" id="oldPassword-error" *ngIf="changePasswordFormGroup.get('oldPassword').touched && changePasswordFormGroup.get('oldPassword').hasError('required')">New password is required.</p>

                    </div>


                    <div class="col-span-6">
                        <label for="newPassword" class="block text-sm font-medium text-gray-700">Choose a new password</label>

                        <div class="mt-1 border-b border-gray-300 focus-within:border-indigo-600 grid grid-flow-col">
                            <div>
                                <input type="text" formControlName="newPassword" name="newPassword" id="newPassword" aria-describedby="newPassword-error" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div class="absolute right-0 pr-6 py-2" *ngIf="changePasswordFormGroup.get('newPassword').touched && changePasswordFormGroup.get('newPassword').hasError('required')">
                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_solid:exclamation-circle'"></mat-icon>
                            </div>
                        </div>

                        <p class="mt-2 text-sm text-red-600" id="newPassword-error" *ngIf="changePasswordFormGroup.get('newPassword').touched && changePasswordFormGroup.get('newPassword').hasError('required')">New password is required.</p>

                    </div>

                    <div class="col-span-6">
                        <label for="reenterNewPassword" class="block text-sm font-medium text-gray-700">Re-enter new password</label>
                        <div class="mt-1 border-b border-gray-300 focus-within:border-indigo-600 grid grid-flow-col">
                            <div>
                                <input type="text" formControlName="reenterNewPassword" name="reenterNewPassword" id="reenterNewPassword" aria-describedby="reenterNewPassword-error" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div class="absolute right-0 pr-6 py-2" *ngIf="changePasswordFormGroup.get('reenterNewPassword').touched && changePasswordFormGroup.get('reenterNewPassword').errors">
                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_solid:exclamation-circle'"></mat-icon>
                            </div>
                        </div>

                        <p class="mt-2 text-sm text-red-600" *ngIf="changePasswordFormGroup.get('reenterNewPassword').touched && changePasswordFormGroup.get('reenterNewPassword').hasError('required')">Re-enter new password is required!</p>
                        <p class="mt-2 text-sm text-red-600" *ngIf="changePasswordFormGroup.get('reenterNewPassword').touched && changePasswordFormGroup.get('reenterNewPassword').hasError('passwordsNotMatching')">Passwords must match!</p>

                    </div>

                </div>
            </div>

            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button (click)="changePassword()" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Change Password
                </button>
            </div>

            <fuse-alert class="mt-8 -mb-4"
                        *ngIf="showAlert"
                        [appearance]="'outline'"
                        [showIcon]="false"
                        [type]="alert.type"
                        [@shake]="alert.type === 'error'">

                {{alert.message}}
            </fuse-alert>

        </div>
    </form>

    <form action="#" method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
                <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900">2 Factor Authentication</h3>
                    <p class="mt-1 text-sm text-gray-500">Enable addition security to protect your account.</p>
                </div>


                <div class="grid grid-cols-6 gap-6">

                    <div class="col-span-6">

                        <div class="px-4 py-3 sm:px-6" *ngIf="!twoFactorDisplayAuthenticator && twoFactorUserSecurityDTO">
                            <button (click)="setupAuthenticator()" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                {{(twoFactorUserSecurityDTO.hasAuthenticator && !twoFactorUserSecurityDTO.twoFactorEnabled) === true ? "Enable 2FA" : "Setup authenticator"}}
                            </button>
                        </div>

                        <div class="px-4 py-3 sm:px-6" *ngIf="!twoFactorDisplayAuthenticator && twoFactorUserSecurityDTO && twoFactorUserSecurityDTO.twoFactorEnabled">
                            <button [disabled]="!twoFactorUserSecurityDTO.twoFactorEnabled" (click)="resetRecoverCodes()" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Reset recovery codes</button>
                        </div>

                        <div class="px-4 py-3 sm:px-6" *ngIf="!twoFactorDisplayAuthenticator && twoFactorUserSecurityDTO && twoFactorUserSecurityDTO.twoFactorEnabled">
                            <button (click)="disable2FA()" aria-label="Disable 2FA" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Disable 2FA</button>
                        </div>
                    </div>

                    <div *ngIf="twoFactorDisplayAuthenticator" class="col-span-6">

                        <p>To use an authenticator app go through the following steps:</p>
                        <ol class="list">
                            <li>
                                <p>
                                    Download a two-factor authenticator app like Microsoft Authenticator for
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                                    Google Authenticator for
                                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">Android</a> and
                                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                                </p>
                            </li>
                            <li>
                                <p>Scan the QR Code or enter this key <kbd>{{twoFactorAuthAuthenticatorDetailDTO.sharedKey}}</kbd> into your two factor authenticator app. Spaces and casing do not matter.</p>

                                <div class="message-box info">To enable QR code generation please read our <a href="https://go.microsoft.com/fwlink/?Linkid=852423">documentation</a>.</div>

                                <div class="w-40" id="genQrCode">
                                    <span *ngIf="twoFactorGeneratingQrCode">Generating...</span>
                                </div>

                            </li>
                            <li>
                                <p>
                                    Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                                    with a unique code. Enter the code in the confirmation box below.
                                </p>
                                <div class="row">
                                    <div class="col-md-6">

                                        <input matInput (keydown)="onKeydown($event)" name="twoFactorVerificationCode" id="twoFactorVerificationCode" [(ngModel)]="twoFactorVerificationCode" type="text" placeholder="6-digit verification code" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />

                                        <button (click)="verifyAuthenticator()" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Verify</button>

                                    </div>
                                </div>
                            </li>

                        </ol>

                        <div class="form-group" *ngIf="twoFactorErrors.length > 0">
                            <ul [innerHTML]="twoFactorErrors" class="error" style="margin: 10px 0;"></ul>
                        </div>

                    </div>


                    <div class="col-span-6" *ngIf="twoFactorRecoveryCodes.length > 0">
                        <strong>Copy and save your recovery codes</strong>
                        <ul>
                            <li *ngFor="let recoveryCode of twoFactorRecoveryCodes">{{recoveryCode}}</li>
                        </ul>
                    </div>
                </div>

           

             


            </div>


        </div>
    </form>


</div>
